@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500;700&display=swap");

/* Nên import Tailwind sau khi import font */
@import "tailwindcss";

@layer utilities {
    body {
        font-family: "M PLUS 1p", sans-serif;
        overflow-x: hidden;
    }
}

.bg-dot-pattern {
    background-color: #0014a8; /* nền xanh đậm */
    background-image: radial-gradient(black 1px, transparent 1px);
    background-size: 20px 20px; /* khoảng cách giữa các chấm */
}

.react-multi-carousel-track {
    align-items: end;
}

.react-multiple-carousel__arrow--right,
.react-multiple-carousel__arrow--left {
    display: none;
}

.marquee {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    width: 100%; /* chiều rộng vùng hiển thị */
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transform: rotateZ(9deg);
    margin-top: 100px;
}

.marquee-content {
    display: inline-block;
    animation: marquee 60s linear infinite;
    font-size: 2rem;
    color: white; /* chỉnh màu theo ý */
    font-weight: bold;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
